<%- include('partials/header',{ page: "works", bg:"c-bg1"}) %>
<div class="l-inner">
  <div class="p-worksTop --<%= category %>">
    <% categories.forEach(function(item){ %> <% if(item.class === category) {%>
    <h1 class="c-heading1"><%= item.name %></h1>
    <p class="c-textSpSm"><%- item.description %></p>
    <%}%> <% }) %>
  </div>
  <div class="p-designCards --<%= category %>">
    <%- include('partials/designCard', {cards: cards}) %>
  </div>
  <%- include('partials/projectCategories') %>
</div>
<!-- /l-inner -->
<%- include('partials/footer') %>
